/* Universel class code*/
*
{
	margin: 0;
	padding: 0;
	font-family: MS Sarif;
}
/* Div main code */
.main
{
	max-width: 950px;
	margin: auto;
	
}
/* Background code */
header
{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
		url(file:///C:/pm%20gohil/JET%201/web%20site/home%20pg%201/photo/bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	height: 609px;
	width: 1280px;
	
}
/* List code */
ul
{
	float: right;
	list-style-type: none;
	margin-top: 30px;
	margin-right: -20px;
}
ul li
{
	display: inline-block;
}
ul li a
{
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	padding: 10px;
	border: 1px solid transparent;
	transition: 0.6s ease-in-out;
	border-radius: 7px;
}
ul li a:hover
{
	background-color: cyan;
	color: black;
}
.active
{
	background-color: #333;
	color: #fff;
}
/* logo style */
.logo
{
	background-repeat: no-repeat;
}
img
{
	height: 170px;
	width: auto;
	position: absolute;
	transform: translate(-100px,10px);
}

/* Title code */
.title
{
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%,-50%);
}
.title h1
{
	font-size: 70px;
	color: rgba(12,12,23,54);
}

/* Button */
.button
{
	position: absolute;
	left: 37%;
	top: 50%;
	transform: transate(-50%,-50%);
}
.button a
{
	text-decoration: none;
	padding: 10px 20px;
	font-size: 25px;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 50px;
	transition: 0.6s ease-in-out;
}
.button a:hover
{
	background-color: #fff;
	color: #333;
}
/* Detail */
.detail
{
	position: absolute;
	float: right;
	left: 350px;
	top: 20px;
	transform: translate(280%,1500%);
}
.detail span
{
	color: #fff;
}
.detail span:hover
{
	color: cyan;
}